# {{ ansible_managed }}

[SeatDefaults]

{% if dm__automatic_login_enabled | bool %}
autologin-user = {{ dm__automatic_login_user_name | string }}
autologin-user-timeout = {{ dm__automatic_login_time_delay | string }}
{% endif %}
# autologin-session = Session to load for automatic login (overrides user-session)
# autologin-in-background = True if autologin session should not be immediately activated

greeter-hide-users = {{ (not dm__greeter_show_user_list|bool) | lower }}
